
.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 30px;
  background-color:transparent;
  min-width: 100px;
  min-height: 500px;
}

.box {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 28px 45px rgba(127, 122, 240, 0.2);
}

.box:hover{
  box-shadow: 0 28px 45px rgba(227, 73, 209, 0.7);
}

.small{
  font-size: 30px;
}

.btn{
  width:250px;
  height:50px;
  font-size: 20px;
}